body{
    background: gray;
    margin: 0;
    padding: 0;
    text-align: center;
}

.gameContainer{
    position: absolute;
    display: inline-block;
    width: 800px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: black;
}

.player1Paddle {
    left: 10px;
}

.player2Paddle {
    left: 380px
}

.ball {
    position: absolute;
    width: 100px;
    height: 20px;
    background: white;
}

.ball2 {
    position: absolute;
    width: 100px;
    height: 20px;
    background: orange;
}

.ball3 {
    position: absolute;
    width: 100px;
    height: 20px;
    background: blue;
}

.playersection {
    display:flex;
	flex-direction:row;
	width: 100px;
    height: 30px;
    align-items:center;
    background: white;
}


.target {
    position: absolute;
    width: 50px;
    height: 50px;
    background: pink;
}

.target2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: blue;
}

.target3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: green;
}

.target4 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
}

#myProgress {
    width: 100%;
    background-color: green;
}
#myBar {
    width: 0%;
    height: 30px;
    background-color: red;
}
#gameover {
    display: none;
	margin-left: auto;
    margin-right: auto;
}